<!DOCTYPE html>
<html>
<head>
  <title>Mindleaps analytics</title>
  <%= stylesheet_link_tag    "mindleaps_analytics/application", media: "all" %>
  <%= javascript_include_tag "mindleaps_analytics/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
