<head>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<h1>Main#first</h1>
<p>Find me in app/views/mindleaps_analytics/main/first.html.erb</p>

<p>
<div id="chart" style="width:100%; height:400px;"></div>
</p>

<script>
    $(function () {
        var myChart = Highcharts.chart('chart', {
            chart: {
                type: 'scatter'
            },
            title: {
                text: 'Performance in time'
            },
            xAxis: {
                title: {
                    text: 'Nr. of Lessons'
                }
            },
            yAxis: {
                title: {
                    text: 'Performance'
                }
            },
            series: [
                <% @series.each do |entry| %>
                {
                    name: 'Group <%= entry[:name] %>', // e.g. 'Group A',
                    data: <%= entry[:data] %>  // e.g. [[0,1], [2,2], ...]
                }
                <%=',' unless entry == @series.last %>
                <% end %>
            ]
        });
    });
</script>
