<h1>Editing Regression Parameter</h1>

<%= render 'form', regression_parameter: @regression_parameter %>

<%= link_to 'Show', @regression_parameter %> |
<%= link_to 'Back', regression_parameters_path %>
